<div class="login-container">
  <!-- Zona izquierda (imagen futura) -->
  <div class="login-image">
    <!-- Aquí luego pondrás una imagen -->
  </div>

  <!-- Zona derecha (formulario) -->
  <div class="login-form">
  <h2 class="title">Iniciar Sesión</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <!-- Correo -->
    <div class="p-field">
      <label for="email">Correo electrónico</label>
      <input
        id="email"
        type="email"
        pInputText
        class="line-input"
        placeholder="Ingresa tu correo"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <!-- Contraseña -->
    <div class="p-field">
      <label for="password">Contraseña</label>
      <input
        id="password"
        type="password"
        pInputText
        class="line-input"
        placeholder="Ingresa tu contraseña"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <div class="buttons">
      <button type="submit" class="btn-login">Ingresar</button>
      <button type="button" class="btn-register" (click)="goTo('/Registro')">Registrarse</button>
          <!-- Botón Iniciar con Google -->
      <button type="button" class="btn-google">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg"alt="Google" class="google-icon" />
        Iniciar con Google
      </button>
    </div>

  </form>
</div>